body {
  margin: 0px 0px;
  padding: 0px px;
}

.svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto 2rem;
}

.main-title {
  margin: 1rem auto;
}

.plot-container {
  margin: auto 2rem;
}

.flex {
  display: flex;
  align-items: center;
}
